/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    background-image: url(/one-piece-2_1xby.1200.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.transparencia {
    filter: alpha(opacity=80);
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
}

h1 {
    text-align: center;
    color: blue;
}

form {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

label {
    margin-top: 10px;
    color: black;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid slateblue;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: skyblue;
}